<link rel="stylesheet" type="text/css" href="${res}/css/icon.css">
<link rel="stylesheet" type="text/css" href="${res}/css/tablestyle.css">
<link rel="stylesheet" type="text/css" href="${res}/js/jquery-easyui-1.4.4/themes/default/easyui.css">
<script type="text/javascript" src="${res}/js/prototype.js"></script>
<script type="text/javascript" src="${res}/js/jquery/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="${res}/js/jquery-easyui-1.4.4/jquery.easyui.min.js"></script>
<script type="text/javascript" src="${res}/js/jquery-easyui-1.4.4/plugins/jquery.datagrid.js"></script>
<script type="text/javascript" src="${res}/js/utils.js"></script>
<script type="text/javascript" src="${res}/js/datastructs.js"></script>
<script type="text/javascript" src="${res}/js/sys.js"></script>
<script type="text/javascript" src="${res}/js/smartclient.js"></script>

<script type="text/javascript" src="${res}/js/jquery-easyui-1.4.4/ext/treegrid-dnd.js"></script>
<script type="text/javascript" src="${res}/js/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="${res}/js/basicdata.js"></script>
<script type="text/javascript">
	var contextPath="${basepath}";
</script>