<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <title>VPS平台</title>
    <meta name="keywords" content="VPS平台">
    <meta name="description" content="VPS平台">
    <link rel="shortcut icon" href="${res}/common/img/favicon.ico">
    [#include "frame/res_header.html"/]
    <link rel="stylesheet"
          href="${res}/core/css/main/jquery.bigautocomplete.css" type="text/css" />


</head>

<body class="fixed-sidebar full-height-layout gray-bg"
      style="overflow: hidden">
<div id="wrapper">
    <!--左侧导航开始-->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="nav-close">
            <i class="fa fa-times-circle"></i>
        </div>
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
							<span><img alt="image" class="img-circle"
                                       src="${res}/common/xxx" /></span> <a
                            data-toggle="dropdown" class="dropdown-toggle" href="#"> <span
                            class="clear"> <span class="block m-t-xs"><strong
                            class="font-bold">VPS平台</strong></span> <span
                            class="text-muted text-xs block">${user.name}<b
                            class="caret"></b></span>
							</span>
                    </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a class="J_menuItem" id="headPortrait">修改头像</a></li>
                            <li><a class="J_menuItem" id="personal">个人资料</a></li>
                            <li><a class="J_menuItem" id="contact">联系我们</a></li>
                            <li><a class="J_menuItem" id="mailbox">信箱</a></li>
                            <li class="divider"></li>
                            <li><a href="${base}/logout">安全退出</a></li>
                        </ul>

                    </div>
                    <div class="logo-element">MRPAN</div>
                </li>
                <!-- 左侧菜单 -->

                [@menuTree custId=user.custId base=base/]

            </ul>
        </div>
    </nav>
    <!--左侧导航结束-->
    <!--右侧部分开始-->
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation"
                 style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary "
                       href="#"><i class="fa fa-bars"></i> </a>
                    <form role="search" class="navbar-form-custom" method="post"
                          action="">
                        <div class="form-group">
                            <input type="text" placeholder="请输入您需要查找的内容 …"
                                   class="form-control" name="top-search" id="tt">
                        </div>
                    </form>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown hidden-xs"><a
                            class="right-sidebar-toggle" aria-expanded="false"> <i
                            class="fa fa-tasks"></i> 主题
                    </a></li>
                </ul>
            </nav>
        </div>
        <div class="row content-tabs">
            <button class="roll-nav roll-left J_tabLeft">
                <i class="fa fa-backward"></i>
            </button>
            <nav class="page-tabs J_menuTabs">
                <div class="page-tabs-content">
                    <a href="javascript:;" class="active J_menuTab"
                       data-id="index_v1.html">首页</a>
                </div>
            </nav>
            <button class="roll-nav roll-right J_tabRight">
                <i class="fa fa-forward"></i>
            </button>
            <div class="btn-group roll-nav roll-right">
                <button class="dropdown J_tabClose" data-toggle="dropdown">
                    关闭操作<span class="caret"></span>

                </button>
                <ul role="menu" class="dropdown-menu dropdown-menu-right">
                    <!-- <li class="J_tabShowActive"><a>定位当前选项卡</a></li> -->
                    <li class="divider"></li>
                    <li class="J_tabCloseAll"><a>关闭全部选项卡</a></li>
                    <li class="J_tabCloseOther"><a>关闭其他选项卡</a></li>
                </ul>
            </div>
            <a href="${base}/logout" class="roll-nav roll-right J_tabExit"><i
                    class="fa fa fa-sign-out"></i> 退出</a>
        </div>
        <div class="row J_mainContent" id="content-main">
            [#if user.roleId==2]
            <iframe class="J_iframe" name="iframe0" width="100%" height="100%"
                    src="${base}/main/dash" frameborder="0" data-id="index_v1.html"
                    seamless></iframe>
            [#else]
            <iframe class="J_iframe" name="iframe0" width="100%" height="100%"
                    src="" frameborder="0" data-id="index_v1.html" seamless></iframe>
            [/#if]
        </div>
        <div class="footer">
            <div class="pull-right">
                &copy; 2016-2017 <a href="http://www.mrpann.com/"
                                    target="_blank">Mr.Pan</a>
            </div>
        </div>
    </div>
    <!--右侧部分结束-->
    <!--右侧边栏开始-->
    <div id="right-sidebar">
        <div class="sidebar-container">

            <ul class="nav nav-tabs navs-3">

                <li class="active"><a data-toggle="tab" href="#tab-1"> <i
                        class="fa fa-gear"></i> 主题
                </a></li>
                <li class=""><a data-toggle="tab" href="#tab-2"> 通知 </a></li>
                <li><a data-toggle="tab" href="#tab-3"> 项目进度 </a></li>
            </ul>

            <div class="tab-content">
                <div id="tab-1" class="tab-pane active">
                    <div class="sidebar-title">
                        <h3>
                            <i class="fa fa-comments-o"></i> 主题设置
                        </h3>
                        <small><i class="fa fa-tim"></i>
                            你可以从这里选择和预览主题的布局和样式，这些设置会被保存在本地，下次打开的时候会直接应用这些设置。</small>
                    </div>
                    <div class="skin-setttings">
                        <div class="title">主题设置</div>
                        <div class="setings-item">
                            <span>收起左侧菜单</span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="collapsemenu"
                                           class="onoffswitch-checkbox" id="collapsemenu"> <label
                                        class="onoffswitch-label" for="collapsemenu"> <span
                                        class="onoffswitch-inner"></span> <span
                                        class="onoffswitch-switch"></span>
                                </label>
                                </div>
                            </div>
                        </div>
                        <div class="setings-item">
                            <span>固定顶部</span>

                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="fixednavbar"
                                           class="onoffswitch-checkbox" id="fixednavbar"> <label
                                        class="onoffswitch-label" for="fixednavbar"> <span
                                        class="onoffswitch-inner"></span> <span
                                        class="onoffswitch-switch"></span>
                                </label>
                                </div>
                            </div>
                        </div>
                        <div class="setings-item">
                            <span> 固定宽度 </span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="boxedlayout"
                                           class="onoffswitch-checkbox" id="boxedlayout"> <label
                                        class="onoffswitch-label" for="boxedlayout"> <span
                                        class="onoffswitch-inner"></span> <span
                                        class="onoffswitch-switch"></span>
                                </label>
                                </div>
                            </div>
                        </div>
                        <div class="title">皮肤选择</div>
                        <div class="setings-item default-skin nb">
								<span class="skin-name "> <a href="#" class="s-skin-0">
                                    默认皮肤 </a>
								</span>
                        </div>
                        <div class="setings-item blue-skin nb">
								<span class="skin-name "> <a href="#" class="s-skin-1">
                                    蓝色主题 </a>
								</span>
                        </div>
                        <div class="setings-item yellow-skin nb">
								<span class="skin-name "> <a href="#" class="s-skin-3">
                                    黄色/紫色主题 </a>
								</span>
                        </div>
                    </div>
                </div>
                <div id="tab-2" class="tab-pane">

                    <div class="sidebar-title">
                        <h3>
                            <i class="fa fa-comments-o"></i> 最新通知
                        </h3>
                        <small><i class="fa fa-tim"></i> 您当前有10条未读信息</small>
                    </div>

                    <div>

                        <div class="sidebar-message">
                            <a href="#">
                                <div class="pull-left text-center">
                                    <img alt="image" class="img-circle message-avatar"
                                         src="${res}/common/img/a1.jpg">

                                    <div class="m-t-xs">
                                        <i class="fa fa-star text-warning"></i> <i
                                            class="fa fa-star text-warning"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <small class="text-muted">今天 4:21</small>
                                </div>
                            </a>
                        </div>
                        <div class="sidebar-message">
                            <a href="#">
                                <div class="pull-left text-center">
                                    <img alt="image" class="img-circle message-avatar"
                                         src="${res}/common/img/a2.jpg">
                                </div>
                                <div class="media-body">
                                    <!--  HCY48之音乐大魔王会员专属皮肤已上线，快来一键换装拥有他，宣告你对华晨宇的爱吧！ -->
                                    <br> <small class="text-muted">昨天 2:45</small>
                                </div>
                            </a>
                        </div>
                        <div class="sidebar-message">
                            <a href="#">
                                <div class="pull-left text-center">
                                    <img alt="image" class="img-circle message-avatar"
                                         src="${res}/common/img/a3.jpg">

                                    <div class="m-t-xs">
                                        <i class="fa fa-star text-warning"></i> <i
                                            class="fa fa-star text-warning"></i> <i
                                            class="fa fa-star text-warning"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <!-- 写的好！与您分享 -->
                                    <br> <small class="text-muted">昨天 1:10</small>
                                </div>
                            </a>
                        </div>
                        <div class="sidebar-message">
                            <a href="#">
                                <div class="pull-left text-center">
                                    <img alt="image" class="img-circle message-avatar"
                                         src="${res}/common/img/a4.jpg">
                                </div>

                                <div class="media-body">
                                    <!--  国外极限小子的炼成！这还是亲生的吗！！ -->
                                    <br> <small class="text-muted">昨天 8:37</small>
                                </div>
                            </a>
                        </div>
                        <div class="sidebar-message">
                            <a href="#">
                                <div class="pull-left text-center">
                                    <img alt="image" class="img-circle message-avatar"
                                         src="${res}/common/img/a8.jpg">
                                </div>
                                <div class="media-body">
                                    <!--  一只流浪狗被收留后，为了减轻主人的负担，坚持自己觅食，甚至......有些东西，可能她比我们更懂。 -->
                                    <br> <small class="text-muted">今天 4:21</small>
                                </div>
                            </a>
                        </div>
                        <div class="sidebar-message">
                            <a href="#">
                                <div class="pull-left text-center">
                                    <img alt="image" class="img-circle message-avatar"
                                         src="${res}/common/img/a7.jpg">
                                </div>
                                <div class="media-body">
                                    <!--   这哥们的新视频又来了，创意杠杠滴，帅炸了！ -->
                                    <br> <small class="text-muted">昨天 2:45</small>
                                </div>
                            </a>
                        </div>
                        <div class="sidebar-message">
                            <a href="#">
                                <div class="pull-left text-center">
                                    <img alt="image" class="img-circle message-avatar"
                                         src="${res}/common/img/a3.jpg">

                                    <div class="m-t-xs">
                                        <i class="fa fa-star text-warning"></i> <i
                                            class="fa fa-star text-warning"></i> <i
                                            class="fa fa-star text-warning"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <!-- 最近在补追此剧，特别喜欢这段表白。 -->
                                    <br> <small class="text-muted">昨天 1:10</small>
                                </div>
                            </a>
                        </div>
                        <div class="sidebar-message">
                            <a href="#">
                                <div class="pull-left text-center">
                                    <img alt="image" class="img-circle message-avatar"
                                         src="${res}/common/img/a4.jpg">
                                </div>
                                <div class="media-body">
                                    <!--  我发起了一个投票 【你认为下午大盘会翻红吗？】 -->
                                    <br> <small class="text-muted">星期一 8:37</small>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
                <div id="tab-3" class="tab-pane">

                    <div class="sidebar-title">
                        <h3>
                            <i class="fa fa-cube"></i> 最新任务
                        </h3>
                        <small><i class="fa fa-tim"></i> 您当前有14个任务，10个已完成</small>
                    </div>

                    <ul class="sidebar-list">
                        <li><a href="#">
                            <div class="small pull-right m-t-xs">9小时以后</div>
                            <h4>市场调研</h4> 按要求接收教材；

                            <div class="small">已完成： 22%</div>
                            <div class="progress progress-mini">
                                <div style="width: 22%;"
                                     class="progress-bar progress-bar-warning"></div>
                            </div>
                            <div class="small text-muted m-t-xs">项目截止： 4:00 -
                                2016.05.01</div>
                        </a></li>
                        <li><a href="#">
                            <div class="small pull-right m-t-xs">9小时以后</div>
                            <h4>可行性报告研究报上级批准</h4> 编写目的编写本项目进度报告的目的在于更好的控制软件开发的时间,对团队成员的
                            开发进度作出一个合理的比对

                            <div class="small">已完成： 48%</div>
                            <div class="progress progress-mini">
                                <div style="width: 48%;" class="progress-bar"></div>
                            </div>
                        </a></li>
                        <li><a href="#">
                            <div class="small pull-right m-t-xs">9小时以后</div>
                            <h4>立项阶段</h4> 东风商用车公司 采购综合综合查询分析系统项目进度阶段性报告武汉斯迪克科技有限公司

                            <div class="small">已完成： 14%</div>
                            <div class="progress progress-mini">
                                <div style="width: 14%;"
                                     class="progress-bar progress-bar-info"></div>
                            </div>
                        </a></li>
                        <li><a href="#"> <span
                                class="label label-primary pull-right">NEW</span>
                            <h4>设计阶段</h4> <!--<div class="small pull-right m-t-xs">9小时以后</div>-->
                            项目进度报告(Project Progress Report)
                            <div class="small">已完成： 22%</div>
                            <div class="small text-muted m-t-xs">项目截止： 4:00 -
                                2016.05.01</div>
                        </a></li>
                        <li><a href="#">
                            <div class="small pull-right m-t-xs">9小时以后</div>
                            <h4>拆迁阶段</h4> 科研项目研究进展报告 项目编号: 项目名称: 项目负责人:

                            <div class="small">已完成： 22%</div>
                            <div class="progress progress-mini">
                                <div style="width: 22%;"
                                     class="progress-bar progress-bar-warning"></div>
                            </div>
                            <div class="small text-muted m-t-xs">项目截止： 4:00 -
                                2015.10.01</div>
                        </a></li>
                        <li><a href="#">
                            <div class="small pull-right m-t-xs">9小时以后</div>
                            <h4>建设阶段</h4> 编写目的编写本项目进度报告的目的在于更好的控制软件开发的时间,对团队成员的
                            开发进度作出一个合理的比对

                            <div class="small">已完成： 48%</div>
                            <div class="progress progress-mini">
                                <div style="width: 48%;" class="progress-bar"></div>
                            </div>
                        </a></li>
                        <li><a href="#">
                            <div class="small pull-right m-t-xs">9小时以后</div>
                            <h4>获证开盘</h4> 编写目的编写本项目进度报告的目的在于更好的控制软件开发的时间,对团队成员的
                            开发进度作出一个合理的比对

                            <div class="small">已完成： 14%</div>
                            <div class="progress progress-mini">
                                <div style="width: 14%;"
                                     class="progress-bar progress-bar-info"></div>
                            </div>
                        </a></li>

                    </ul>

                </div>
            </div>

        </div>
    </div>
    <!--右侧边栏结束-->
    <!--mini聊天窗口开始-->
    <div class="small-chat-box fadeInRight animated">

        <div class="heading" draggable="true">
            <small class="chat-date pull-right"> 2016.5.1 </small> 与 admin 聊天中
        </div>

        <div class="content">

            <div class="left">
                <div class="author-name">
                    admin <small class="chat-date"> 10:02 </small>
                </div>
                <div class="chat-message active">您好</div>

            </div>
            <div class="right">
                <div class="author-name">
                    ${user.custName} <small class="chat-date"> 11:24 </small>
                </div>
                <div class="chat-message">
                    <!-- 你好，请问H+有帮助文档吗？ -->
                    你好
                </div>
            </div>
            <div class="left">
                <div class="author-name">
                    admin <small class="chat-date"> 08:45 </small>
                </div>
                <div class="chat-message active">
                    <!-- 有，购买的H+源码包中有帮助文档，位于docs文件夹下 -->
                    请问有什么我可以帮您的吗？
                </div>
            </div>
            <div class="right">
                <div class="author-name">
                    ${user.custName} <small class="chat-date"> 11:24 </small>
                </div>
                <div class="chat-message">
                    <!--   那除了帮助文档还提供什么样的服务？ -->
                    目前还没有
                </div>
            </div>
            <div class="left">
                <div class="author-name">
                    ${user.custName} <small class="chat-date"> 08:45 </small>
                </div>
                <div class="chat-message active">
                    <!--
                    1.所有源码(未压缩、带注释版本)；
                    <br> 2.说明文档；
                    <br> 3.终身免费升级服务；
                    <br> 4.必要的技术支持；
                    <br> 5.付费二次开发服务；
                    <br> 6.授权许可；
                    <br> ……
                    <br>
                     -->
                    很荣幸为您服务!
                </div>
            </div>


        </div>
        <div class="form-chat">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control"> <span
                    class="input-group-btn">
						<button class="btn btn-primary" type="button" id="sendMessage">发送</button>
					</span>
            </div>
        </div>

    </div>




    <div id="small-chat">

        <span class="badge badge-warning pull-right">0</span>
        <div></div>



        <div style="text-align: center;">
            <div>
                <a target="_blank"
                   href="http://wpa.qq.com/msgrd?v=3&uin=2052985240&site=qq&menu=yes"><img
                        border="0" src="http://wpa.qq.com/pa?p=2:2052985240:52"
                        alt="点击这里给我发消息" title="点击这里给我发消息给客户01" /></a> </span>

            </div>
            <div>
                <a target="_blank"
                   href="http://wpa.qq.com/msgrd?v=3&uin=1395230786&site=qq&menu=yes"><img
                        border="0" src="http://wpa.qq.com/pa?p=2:1395230786:52"
                        alt="点击这里给我发消息" title="点击这里给我发消息给客户02" /></a> </span>
            </div>

            <div>
                <a target="_blank"
                   href="http://wpa.qq.com/msgrd?v=3&uin=2174257991&site=qq&menu=yes"><img
                        border="0" src="http://wpa.qq.com/pa?p=2:2174257991:52"
                        alt="点击这里给我发消息" title="点击这里给我发消息给客户03" /></a>
            </div>
        </div>


        <a class="open-small-chat"> <i class="fa fa-comments"></i>
        </a>

    </div>

</div>


[#include "frame/res_footer.html"/]
</body>


<script type="text/javascript"
        src="${res}/core/js/main/jquery.bigautocomplete.js"></script>
<script type="text/javascript">
    window.onload = function() {

    }

//    $(function() {
//        var buf = [];
//        $("#side-menu li .collapse .J_menuItem").each(function() {
//            buf.push($(this).text());
//        });
//
//
//    });
</script>

<script type="text/javascript">
    $("#sendMessage,#personal,#contact,#mailbox,#headPortrait").on("click",
            function() {
                swal("此功能暂时未开放!!!", "您可以选择QQ客服!", "info");
            });
</script>

</html>