<?xml version="1.0" encoding="UTF-8"?>
<!-- 开发环境 -->
<configuration>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<!-- <pattern>%-20(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{80}-%msg%n</pattern> -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern> 
		</layout>
	</appender>
	<appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>logs/mrpan-web-vpsplatform.%d{yyyy-MM-dd}.log</FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">  
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>   
       	</layout>
	</appender>
	<logger name="java.sql.PreparedStatement" level="DEBUG" />
	<logger name="org.springframework.ui.freemarker" level="DEBUG" />
	<root level="DEBUG">
		<appender-ref ref="stdout" />
		<appender-ref ref="logfile" />
	</root>
</configuration>