<link href="${res}/common/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
<link href="${res}/common/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
<link href="${res}/common/css/animate.min.css" rel="stylesheet">
<link href="${res}/common/css/style.min.css?v=4.0.0" rel="stylesheet">
<link href="${res}/common/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<link href="${res}/common/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<link href="${res}/plugins/artDialog/css/ui-dialog.css" rel="stylesheet">
<!-- <link href="${res}/common/css/plugins/webuploader/webuploader.css" rel="stylesheet"  type="text/css"> -->
<!-- <link href="${res}/core/css/web-uploader.css" rel="stylesheet"  type="text/css"> -->
<link href="${res}/plugins/fileInput/css/fileinput.min.css" rel="stylesheet"  type="text/css">
<link href="${res}/plugins/fancybox/jquery.fancybox.css" rel="stylesheet"  type="text/css">
<link href="${res}/common/css/plugins/steps/jquery.steps.css" rel="stylesheet">
<link href="${res}/common/css/plugins/blueimp/css/blueimp-gallery.min.css" rel="stylesheet">
<style type="text/css">

</style>


