<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<dubbo:application name="dubbo-provider-koala" />
	<dubbo:registry address="${dubbo.registry.address}" />
	<dubbo:protocol name="dubbo" port="${dubbo.provider.port.koala}" />
	<dubbo:provider timeout="${dubbo.provider.timeout}"/>

<!-- 	<dubbo:provider timeout="${dubbo.provider.timeout}" filter="annFilter" /> -->

	<dubbo:service interface="com.mrpan.koala.service.Koala_CoinService" ref="koala_CoinService" />
	<dubbo:service interface="com.mrpan.koala.service.Koala_StepService" ref="koala_StepService" />
</beans>