<!DOCTYPE HTML>
<html>
<head>
	<title>Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Baxster Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- Bootstrap Core CSS -->
	<link href="${res}/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<!-- Custom CSS -->
	<link href="${res}/css/style.css" rel='stylesheet' type='text/css' />
	<!-- font CSS -->
	<link rel="icon" href="${res}/favicon.ico" type="image/x-icon" >
	<!-- font-awesome icons -->
	<link href="${res}/css/font-awesome.css" rel="stylesheet">
	<!-- //font-awesome icons -->
	<!--webfonts-->
	<link href='http://fonts.useso.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<!--//webfonts-->
	<!-- js -->
	<script src="${res}/js/jquery-1.11.1.min.js"></script>
	<!-- //js -->
</head>
<body class="login-bg">
<div class="login-body">
	<div class="login-heading">
		<h1>Login</h1>
	</div>
	<div class="login-info">
		<form  action="${base}/login" name="loginform" accept-charset="utf-8" id="login_form" class="loginForm" method="post">
			<input type="text" class="user" id="username" name="username" placeholder="Email" required="">
			<input type="password" name="password" id="password" class="lock" placeholder="Password">
			<div class="forgot-top-grids">
				<div class="forgot-grid">
					<ul>
						<li>
							<input type="checkbox" id="brand1" value="">
							<label for="brand1"><span></span>Remember me</label>
						</li>
					</ul>
				</div>
				<div class="forgot">
					<a href="#">Forgot password?</a>
				</div>
				<div class="clearfix"> </div>
			</div>
			<input type="submit" name="Sign In" value="Login">
			<div class="signup-text">
				<a href="signup.html">Don't have an account? Create one now</a>
			</div>
			<hr>
			<h2>or login with</h2>
			<div class="login-icons">
				<ul>
					<li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#" class="google"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="#" class="dribbble"><i class="fa fa-dribbble"></i></a></li>
				</ul>
			</div>
		</form>
	</div>
</div>
<div class="go-back login-go-back">
	<a href="index.html">Go To Home</a>
</div>
<div class="copyright login-copyright">
	<p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://www.17sucai.com/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
</div>
</body>
</html>