<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd  
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	<dubbo:application name="dubbo-consumer-vpsplatform" />
	<dubbo:registry protocol="zookeeper" address="${dubbo.registry.address}" />
	<dubbo:consumer timeout="${dubbo.consumer.timeout}" />
	
	<dubbo:reference id="ann_UserService" interface="com.mrpan.user.service.Ann_UserService" />
	<dubbo:reference id="ann_MenuService" interface="com.mrpan.user.service.Ann_MenuService" />
</beans>