<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<dubbo:application name="dubbo-provider-user" />
	<dubbo:registry address="${dubbo.registry.address}" />
	<dubbo:protocol name="dubbo" port="${dubbo.provider.port.user}" />
	<dubbo:provider timeout="${dubbo.provider.timeout}"/>

<!-- 	<dubbo:provider timeout="${dubbo.provider.timeout}" filter="annFilter" /> -->

	<dubbo:service interface="com.mrpan.user.service.Ann_UserService" ref="ann_UserService" />
	<dubbo:service interface="com.mrpan.user.service.Ann_MenuService" ref="ann_MenuService" />
	<dubbo:service interface="com.mrpan.user.service.Ann_WechatService" ref="ann_WechatService" />
	<dubbo:service interface="com.mrpan.user.service.Ann_VpnService" ref="ann_VpnService" />
	<dubbo:service interface="com.mrpan.user.service.Ann_CashService" ref="ann_CashService"/>
</beans>