
body, html {
  background: #2f4050; /* #2f4050 */
  font-family: "Microsoft YaHei","微软雅黑"! important;
  font-size: 14px;
  font-weight: 400;
}
.wrap {
  margin: 0 auto;
} 

.logo {
  margin: 0 auto;
  text-align:center;
} 


.login {
  width: 300px;
  margin-top: 35vh;
  animation: bounce 1.6s;
}
.login input[type=username],
.login input[type=password] {
  opacity: 1;
  display: block;
  border: none;
  outline: none;
  width: 280px;
  padding: 10px;
  margin: 20px 0 0 0;
  border-radius: 2px;
}
.login input[type=username] {
  animation: bounce 1s;
  -webkit-appearance: none;
}
.login input[type=username]:focus:valid {
  box-shadow: 0 0 0 10000px #1ab394;
}
.login input[type=username]:focus:valid ~ input[type=button] {
  background: #63d7bf;
  color: #1ab394;
}
.login input[type=username]:focus:valid ~ input[type=submit] {
  color: #1ab394;
}
.login input[type=username]:invalid {
  box-shadow: 0 0 0 10000px #e74c3c;
}
.login input[type=username]:invalid ~ input[type=button] {
  background: #c0392b;
  color: #e74c3c;
}
.login input[type=username]:invalid ~ input[type=submit] {
  color: #e74c3c;
}
.login input[type=password] {
  animation: bounce1 1.3s;
}
.login input[type=submit],
.login input[type=button] {
  border: 0;
  outline: 0;
  padding: 13px 18px;
  margin: 40px 0 0 0;
  border-radius: 2px;
  font-weight: 600;
  animation: bounce2 1.6s;
} 
.login input[type=submit] {
  float: right;
  background: #fff;  
  color: #34495e;
  outline: none;
}
.login input[type=button] {
  background: #2f373f;
  color: #34495e;
}
@keyframes bounce {
  0% { transform: translateY(-250px); opacity: 0; }
} 
@keyframes bounce1 {
  0% {  opacity: 0; }
  40% { transform: translateY(-100px); opacity: 0;}
}
@keyframes bounce2 {
  0% {  opacity: 0; }
  70% { transform: translateY(-20px); opacity: 0;}
}      